<md-dialog>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h2>Welcome</h2>
    </div>
    <div layout layout-align="end center">
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons md-dark" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;min-width:400px;">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Login">
        <md-content class="md-padding">
          <form ng-submit="vm.login()">
            <div layout-column>
              <div layout-column>
                <md-input-container layout>
                  <label>Username:</label>
                  <input ng-model="vm.user.username" type="text" placeholder="Username"/>
                </md-input-container>
                <md-input-container layout>
                  <label>Password:</label>
                  <input ng-model="vm.user.password" type="password" placeholder="Password"/>
                </md-input-container>
              </div>
              <div layout layout-align="end end">
                <md-button class="md-primary md-raised" type="submit">Submit</md-button>
              </div>
            </div>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Register">
        <md-content class="md-padding">
          <form ng-submit="vm.register()">
            <div layout-column>
              <div layout-column>
                <md-input-container layout>
                  <label>First:</label>
                  <input ng-model="vm.user.name_first" type="text" placeholder="First Name" required/>
                </md-input-container>
                <md-input-container layout>
                  <label>Last:</label>
                  <input ng-model="vm.user.name_last" type="text" placeholder="Last Name" required/>
                </md-input-container>
                <md-input-container layout>
                  <label>Username:</label>
                  <input ng-model="vm.user.username" type="text" placeholder="Username" required/>
                </md-input-container>
                <md-input-container layout>
                  <label>Password:</label>
                  <input ng-model="vm.user.password" type="password" placeholder="Password" required/>
                </md-input-container>
                <md-input-container layout>
                  <label>Confirm Password:</label>
                  <input ng-model="vm.user.c_password" type="password" placeholder="Confirm Password"/>
                </md-input-container>
                <md-subheader class="_height error_text" ng-show="vm.user.c_password !== vm.user.password">
                  <p>Passwords do not match.</p>
                </md-subheader>
              </div>
              <div layout layout-align="end end">
                <md-button ng-disabled="vm.user.c_password !== vm.user.password" class="md-primary md-raised" type="submit">Submit</md-button>
              </div>
            </div>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
</md-dialog>
