<div layout>
  <div layout-fill class="contact_card">
    <md-card class="md-whiteframe-10dp">
      <md-card-header layout>
        <md-card-title layout>
          <h2 class="shadow_text">Contacts</h2>
          <div layout layout-align="end center" flex>
            <md-button ng-hide="vm.open === true" ng-click="vm.open = true" class="md-accent md-raised">New Contact</md-button>
            <div ng-hide="vm.open === false" layout layout-align="center center">
              <md-input-container layout class="md-icon-float">
                <label>Name</label>
                <md-icon class="material-icons">search</md-icon>
                <input ng-model="vm.in.search"></input>
              </md-input-container>
              <md-button class="md-accent md-raised" ng-click="vm.look(vm.in)">Search</md-button>
              <md-button ng-click="vm.open = false" class="material-icons md-icon-button">close</md-button>
            </div>
          </div>
        </md-card-title>
      </md-card-header>
      <div ng-repeat="r in vm.list" layout>
        <md-card layout layout-align="start center" layout-fill class="md-whiteframe-2dp">
          <md-icon layout class="material-icons md-avatar">face</md-icon>
          <h3 layout flex><label>Username:</label> {{r.username}}</h3><h5 layout flex><label>Full Name:</label>{{r.name_first}} {{r.name_last}}</h5>
          <md-button ng-click="vm.add_contact(r._id)" class="md-accent md-raised">Add</md-button>
        </md-card>
      </div>
      <md-divider></md-divider>
      <md-card-content layout-fill>
        <md-card Layout ng-repeat="c in vm.contacts_list">
          <md-list layout layout-align="start center">
            <md-list-item layout>
              <img class="md-avatar" ng-src="./img/icons/ic_face_black_24px.svg">
              <span>{{c.first_name}}{{c.last_name}}</span>
            </md-list-item>
          </md-list>
          <div class="flex-66"></div>
          <md-fab-toolbar md-open="vm.fab.isOpen" count="vm.fab.count" md-direction="left" layout-align="end center" flex>
            <md-fab-trigger class="align-with-text">
              <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon class="material-icons">menu</md-icon>
              </md-button>
            </md-fab-trigger>
            <md-toolbar>
              <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="call" class="md-icon-button">
                  <md-icon class="material-icons">clear_all</md-icon>
                </md-button>
                <md-button aria-label="chat" class="md-icon-button">
                  <md-icon class="material-icons">email</md-icon>
                </md-button>
                <md-button aria-label="email" class="md-icon-button">
                  <md-icon class="material-icons">chat</md-icon>
                </md-button>
                <md-button aria-label="close" class="md-icon-button">
                  <md-icon class="material-icons">call</md-icon>
                </md-button>
              </md-fab-actions>
            </md-toolbar>
          </md-fab-toolbar>
        </md-card>
      </md-card-content>
    </md-card>
  </div>
  <div layout-fill class="music_card">
    <md-card class="md-whiteframe-10dp">
      <md-card-header>
        <md-card-title>
          <h2>Music</h2>
        </md-card-title>
      </md-card-header>
      <md-card-content></md-card-content>
    </md-card>
  </div>
</div>
