<!DOCTYPE html>
<html ng-app="app" ng-cloak>
  <head>
    <title>spot-sight-test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/site.min.css">
  </head>
  <body>
    <div layout="column" layout-fill ng-controller="DialogController as vm">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Spot Sight</span>
          <span flex></span>
          {{vm.status.username.charAt(0).toUpperCase() + vm.status.username.slice(1)}}
          <md-button ng-hide="vm.status.isLoggedIn === true" ng-click="showTabDialog($event)">
            Login
          </md-button>
          <md-button ng-show="vm.status.isLoggedIn === true" ng-click="vm.logout()">
            Logout
          </md-button>
        </div>
      </md-toolbar>
    </div>
    <ui-view></ui-view>
    <!-- Ext Libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="/js/jsBundle.js"></script>
  </body>
</html>
